* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif !important;
}

/* :root{
  font-family: 'Nunito Sans', sans-serif !important;
} */


#card_container_div::-webkit-scrollbar {
  display: none;
  height: 8px;
  width: 8px;
}

/* Chrome, Firefox, Opera, Safari 10.1+ */
::placeholder { 
  color: #9D99AC;
  font-size: 0.875rem;
  font-weight:400 ;
}

/* input:-webkit-autofill {
  -webkit-text-fill-color: red;

} */

input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #f7f7fc inset;
  background-color: #f7f7fc !important; /* Set the desired background color */
}

input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0px 1000px #f7f7fc inset;
  background-color: #f7f7fc !important; /* Set the desired background color */
}